* {
    box-sizing: border-box;
}

html, body, #root {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    letter-spacing: -0.1px;
}

#root {
    background: linear-gradient(20deg, #0a0c0e 0 50%, white 50% 100%);
    overflow: auto;
}
