* {
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
}

body {
    font-family: "Philosopher", sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
